*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100svh;
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;
}

input,
select,
textarea {
  border: 1px solid transparent;
  outline: none;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.no-scroll {
  overflow: hidden;
}

@keyframes showSection {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes showNavItem {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes navbarAnimation {
  from {
    padding: 3.5rem 2rem;
  }
  to {
    height: 6rem;
    padding: 1rem 2rem;
    background-color: rgb(0, 0, 0);
  }
}
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  padding: 3.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  animation: forwards navbarAnimation;
  animation-timeline: view(0 100%);
}
.navigation__menu-btn {
  padding: 2rem 0 2rem 2rem;
  background-image: url("./../images/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 100;
  opacity: 0;
  animation: 0.5s ease-in 1.3s forwards showNavItem;
}
.navigation__menu {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  background-color: rgb(0, 0, 0);
  transform: scaleX(0);
  transform-origin: right;
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}
.navigation__menu--active {
  transform: scaleX(1);
  opacity: 1;
}
.navigation__menu-link {
  padding: 0.5em;
  font-size: 2.2rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
.navigation__logo {
  width: 45%;
  padding: 1rem 1rem 1rem 0;
  display: flex;
  justify-content: start;
  z-index: 100;
  opacity: 0;
  animation: 0.5s ease-in 1.3s forwards showNavItem;
}

@media (min-width: 768px) {
  .navigation {
    height: 9rem;
    padding-bottom: 1rem;
  }
  .navigation__menu-btn {
    display: none;
  }
  .navigation__menu {
    position: static;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    background-color: transparent;
    transform: scaleX(1);
    opacity: 1;
  }
  .navigation__menu-item {
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    opacity: 0;
    transform: translateY(-2rem);
  }
  .navigation__menu-item::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 40%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    transition: opacity 0.3s;
  }
  .navigation__menu-item:hover::before {
    opacity: 1;
  }
  .navigation__menu-item:last-of-type :first-child {
    padding-right: 0;
  }
  .navigation__menu-item:nth-child(1) {
    animation: 0.5s ease-in 0.5s forwards showNavItem;
  }
  .navigation__menu-item:nth-child(2) {
    animation: 0.5s ease-in 0.7s forwards showNavItem;
  }
  .navigation__menu-item:nth-child(3) {
    animation: 0.5s ease-in 0.9s forwards showNavItem;
  }
  .navigation__menu-item:nth-child(4) {
    animation: 0.5s ease-in 1.1s forwards showNavItem;
  }
  .navigation__menu-item:nth-child(5) {
    animation: 0.5s ease-in 1.3s forwards showNavItem;
  }
  .navigation__menu-link {
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: none;
    transition: color 0.3s;
  }
  .navigation__menu-link:hover, .navigation__menu-link:focus, .navigation__menu-link:active {
    color: rgb(255, 255, 255);
  }
  .navigation__logo {
    width: -moz-fit-content;
    width: fit-content;
  }
  .navigation__logo:focus {
    outline: 1px solid rgb(255, 255, 255);
  }
}
@media (min-width: 992px) {
  .navigation {
    padding-top: 6.5rem;
    height: 10rem;
  }
}
@media (min-width: 1200px) {
  .navigation {
    left: 50%;
    transform: translateX(-50%);
    padding: 6.5rem 0 0 0;
  }
  .navigation__logo {
    padding: 1rem 1rem 1rem 0;
  }
}
.header {
  position: relative;
  height: 65rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  background-image: url("../images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header__shadow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.header__hero-text {
  position: relative;
  transform: translateY(10%);
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem;
  font-size: 3.5rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  border: 2px solid rgb(255, 255, 255);
  z-index: 50;
  opacity: 0;
  animation: 0.8s ease-in 1.7s forwards showSection;
}

@media (min-width: 576px) {
  .header__hero-text {
    width: 80%;
    font-size: 5rem;
  }
}
@media (min-width: 768px) {
  .header {
    background-image: url("../images/desktop/image-hero.jpg");
  }
  .header__hero-text {
    width: 57%;
    padding: 3rem 4rem;
  }
}
@media (min-width: 992px) {
  .header__hero-text {
    font-size: 6rem;
  }
}
@media (min-width: 1200px) {
  .header {
    max-width: 1440px;
    margin: 0 auto;
  }
  .header__hero-text {
    font-size: 7.1rem;
  }
}
.about-us {
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 6rem;
  text-align: center;
  z-index: -10;
  opacity: 0;
  animation: 1s 2s forwards showSection;
}
.about-us__img--desktop {
  display: none;
}
.about-us__text-content {
  max-width: 46rem;
  margin: 0 auto;
  padding-top: 3rem;
}
.about-us__heading {
  margin-bottom: 2rem;
  font-size: 3.3rem;
  font-weight: 300;
  text-transform: uppercase;
}
.about-us__text-block {
  padding: 0 1.2rem;
  font-size: 1.7rem;
  line-height: 130%;
  color: rgb(105, 105, 105);
}

@media (min-width: 992px) {
  .about-us {
    position: relative;
    text-align: left;
  }
  .about-us__img--mobile {
    display: none;
  }
  .about-us__img--desktop {
    display: block;
  }
  .about-us__text-content {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 50rem;
    padding-top: 6rem;
    padding-left: 6rem;
    background-color: rgb(255, 255, 255);
  }
  .about-us__heading {
    font-size: 3.3rem;
  }
  .about-us__text-block {
    font-size: 1.7rem;
  }
}
@media (min-width: 1200px) {
  .about-us {
    margin-bottom: 12rem;
  }
  .about-us__text-content {
    max-width: 62rem;
    padding-top: 7rem;
    padding-left: 7rem;
    background-color: rgb(255, 255, 255);
  }
  .about-us__heading {
    font-size: 5.3rem;
  }
  .about-us__text-block {
    padding: 0;
    font-size: 2rem;
  }
}
.creations {
  position: relative;
  margin-bottom: 10rem;
}
.creations__heading {
  margin-bottom: 4rem;
  font-size: 3.3rem;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}
.creations__boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.creations__box-link {
  position: relative;
  width: 100%;
  max-width: 34rem;
  height: 12rem;
  padding: 2rem;
  display: flex;
  align-items: end;
  color: rgb(255, 255, 255);
}
.creations__box-link--name {
  font-size: 2.2rem;
  text-transform: uppercase;
  transition: color 0.3s;
}
.creations__box-link--bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 14rem 0 7rem rgba(0, 0, 0, 0.6);
  z-index: -100;
  transition: opacity 0.3s;
}
.creations__box-link--bg.earth {
  background-image: url("./../images/mobile/image-deep-earth.jpg");
}
.creations__box-link--bg.arcade {
  background-image: url("./../images/mobile/image-night-arcade.jpg");
}
.creations__box-link--bg.soccer {
  background-image: url("./../images/mobile/image-soccer-team.jpg");
}
.creations__box-link--bg.grid {
  background-image: url("./../images/mobile/image-grid.jpg");
}
.creations__box-link--bg.vr {
  background-image: url("./../images/mobile/image-from-above.jpg");
}
.creations__box-link--bg.borealis {
  background-image: url("./../images/mobile/image-pocket-borealis.jpg");
}
.creations__box-link--bg.curiosity {
  background-image: url("./../images/mobile/image-curiosity.jpg");
}
.creations__box-link--bg.fisheye {
  background-image: url("./../images/mobile/image-fisheye.jpg");
}
.creations__box-link:hover .creations__box-link--name, .creations__box-link:active .creations__box-link--name, .creations__box-link:focus .creations__box-link--name {
  color: rgb(0, 0, 0);
}
.creations__box-link:hover .creations__box-link--bg, .creations__box-link:active .creations__box-link--bg, .creations__box-link:focus .creations__box-link--bg {
  opacity: 0.3;
}
.creations__all-btn {
  position: absolute;
  bottom: -7rem;
  left: 50%;
  transform: translateX(-50%);
  width: 16rem;
  margin: 3rem auto 0;
  padding: 1rem 0;
  display: flex;
  justify-self: center;
  justify-content: center;
  font-family: "Alata";
  font-size: 1.6rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 1px solid rgb(0, 0, 0);
  transition: color 0.3s, background-color 0.3s;
}
.creations__all-btn:hover, .creations__all-btn:active, .creations__all-btn:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

@media (min-width: 992px) {
  .creations {
    opacity: 0;
    animation: forwards showSection;
    animation-timeline: view(90% 5%);
  }
  .creations__heading {
    margin-bottom: 6rem;
    padding-top: 1rem;
    font-size: 3.3rem;
    text-align: left;
  }
  .creations__boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
  }
  .creations__box-link {
    max-width: 24%;
    height: 45rem;
  }
  .creations__box-link--name {
    font-size: 3.3rem;
  }
  .creations__box-link--bg.earth {
    background-image: url("./../images/desktop/image-deep-earth.jpg");
  }
  .creations__box-link--bg.arcade {
    background-image: url("./../images/desktop/image-night-arcade.jpg");
  }
  .creations__box-link--bg.soccer {
    background-image: url("./../images/desktop/image-soccer-team.jpg");
  }
  .creations__box-link--bg.grid {
    background-image: url("./../images/desktop/image-grid.jpg");
  }
  .creations__box-link--bg.vr {
    background-image: url("./../images/desktop/image-from-above.jpg");
  }
  .creations__box-link--bg.borealis {
    background-image: url("./../images/desktop/image-pocket-borealis.jpg");
  }
  .creations__box-link--bg.curiosity {
    background-image: url("./../images/desktop/image-curiosity.jpg");
  }
  .creations__box-link--bg.fisheye {
    background-image: url("./../images/desktop/image-fisheye.jpg");
  }
  .creations__all-btn {
    top: 0;
    right: 0;
    left: 100%;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0;
    font-size: 1.6rem;
  }
}
@media (min-width: 1200px) {
  .creations__heading {
    font-size: 5.3rem;
  }
  .creations__all-btn {
    font-size: 1.8rem;
  }
}
.main {
  padding: 8rem 2rem;
}

.footer-section {
  background-color: rgb(0, 0, 0);
}

.footer {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5rem 2rem;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}
.footer__logo {
  width: 35%;
  margin: 0 auto;
  display: block;
}
.footer__menu {
  height: 100%;
  width: 100%;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}
.footer__menu-link {
  padding: 0.5em;
  font-size: 1.6rem;
}
.footer__social-icons {
  margin-top: 4rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.footer__copy {
  font-size: 1.4rem;
  font-weight: bold;
  color: rgb(140, 140, 140);
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
  }
  .footer__navigation, .footer__social {
    width: -moz-fit-content;
    width: fit-content;
  }
  .footer__logo {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
  }
  .footer__menu {
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 4rem;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
  .footer__menu-item, .footer__icon {
    position: relative;
    padding-bottom: 0.8rem;
  }
  .footer__menu-item::before, .footer__icon::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 40%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    transition: opacity 0.3s;
  }
  .footer__menu-item:hover::before, .footer__icon:hover::before {
    opacity: 1;
  }
  .footer__menu-link {
    padding: 0;
    font-size: 1.6rem;
  }
  .footer__social {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .footer__social-icons {
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 0;
    margin-bottom: 4rem;
    padding: 0.8rem;
    justify-content: flex-end;
    gap: 2rem;
  }
  .footer__copy {
    width: -moz-fit-content;
    width: fit-content;
    font-size: 1.6rem;
  }
}
body {
  font-family: "Josefin Sans", system-ui;
}/*# sourceMappingURL=index.css.map */