.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1150px;
}

.no-scroll {
	overflow: hidden;
}

// MEDIA QUERIES
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
