// COLORS

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$dark-gray: rgb(140, 140, 140);
$very-dark-gray: rgb(105, 105, 105);

$hero-shadow: rgba(0, 0, 0, 0.4);
$creation-box-shadow: rgba(0, 0, 0, 0.6);

// FONTS
// font-family: "Alata", sans-serif; fw: 400;
// font-family: "Josefin Sans", system-ui; fw: 300;
