@use "../resetCSS" as *;
@use "../variables" as *;
@use "../components" as *;
@use "../animations" as *;

.navigation {
	position: fixed;
	top: 0;
	left: 0;
	padding: 3.5rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
	animation: forwards navbarAnimation;
	animation-timeline: view(0 100%);

	&__menu-btn {
		padding: 2rem 0 2rem 2rem;
		background-image: url("./../images/icon-hamburger.svg");
		background-repeat: no-repeat;
		background-position: center;
		z-index: 100;
		opacity: 0;
		animation: 0.5s ease-in 1.3s forwards showNavItem;
	}

	&__menu {
		position: fixed;
		right: 0;
		top: 0;
		height: 100%;
		width: 100%;
		padding-left: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 2em;
		background-color: $black;
		transform: scaleX(0);
		transform-origin: right;
		opacity: 0;
		transition: transform 0.5s, opacity 0.5s;

		&--active {
			transform: scaleX(1);
			opacity: 1;
		}
	}

	&__menu-link {
		padding: 0.5em;
		font-size: 2.2rem;
		font-weight: 300;
		color: $white;
		text-transform: uppercase;
	}

	&__logo {
		width: 45%;
		padding: 1rem 1rem 1rem 0;
		display: flex;
		justify-content: start;
		z-index: 100;
		opacity: 0;
		animation: 0.5s ease-in 1.3s forwards showNavItem;
	}
}

// MEDIA QUERIES
@media (min-width: 768px) {
	.navigation {
		height: 9rem;
		padding-bottom: 1rem;

		&__menu-btn {
			display: none;
		}

		&__menu {
			position: static;
			width: fit-content;
			padding: 0;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 2em;
			background-color: transparent;
			transform: scaleX(1);
			opacity: 1;
		}

		&__menu-item {
			position: relative;
			width: fit-content;
			display: flex;
			align-items: center;
			opacity: 0;
			transform: translateY(-2rem);

			&::before {
				content: "";
				position: absolute;
				left: 50%;
				bottom: 0;
				transform: translateX(-50%);
				width: 40%;
				height: 2px;
				background-color: $white;
				opacity: 0;
				transition: opacity 0.3s;
			}

			&:hover::before {
				opacity: 1;
			}

			&:last-of-type {
				:first-child {
					padding-right: 0;
				}
			}

			&:nth-child(1) {
				animation: 0.5s ease-in 0.5s forwards showNavItem;
			}
			&:nth-child(2) {
				animation: 0.5s ease-in 0.7s forwards showNavItem;
			}
			&:nth-child(3) {
				animation: 0.5s ease-in 0.9s forwards showNavItem;
			}
			&:nth-child(4) {
				animation: 0.5s ease-in 1.1s forwards showNavItem;
			}
			&:nth-child(5) {
				animation: 0.5s ease-in 1.3s forwards showNavItem;
			}
		}

		&__menu-link {
			font-size: 1.6rem;
			font-weight: bold;
			text-transform: none;
			transition: color 0.3s;

			&:hover,
			&:focus,
			&:active {
				color: $white;
			}
		}

		&__logo {
			width: fit-content;

			&:focus {
				outline: 1px solid $white;
			}
		}
	}
}

@media (min-width: 992px) {
	.navigation {
		padding-top: 6.5rem;
		height: 10rem;
	}
}

@media (min-width: 1200px) {
	.navigation {
		left: 50%;
		transform: translateX(-50%);
		padding: 6.5rem 0 0 0;

		&__logo {
			padding: 1rem 1rem 1rem 0;
		}
	}
}
